# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]

env:
  HUSKY: 0
jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Create .env file
        run: |
          touch .env
          echo DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
          cat .env
      - name: Create .env.local file
        run: |
          touch .env.local
          echo "CLOUDINARY_NAME=$CLOUDINARY_NAME" >> .env.local
          echo "CLOUDINARY_API_KEY=$CLOUDINARY_API_KEY" >> .env.local
          echo "CLOUDINARY_API_SECRET=$CLOUDINARY_API_SECRET" >> .env.local
          echo "NEXT_TELEMETRY_DISABLED=$NEXT_TELEMETRY_DISABLED" >> .env.local
          echo "NEXT_PUBLIC_RECAPTCHA_SITE_KEY=$NEXT_PUBLIC_RECAPTCHA_SITE_KEY" >> .env.local
          echo "RECAPTCHA_SITE_KEY=$RECAPTCHA_SITE_KEY" >> .env.local
          echo "REPO_TOKEN=$REPO_TOKEN" >> .env.local
          echo "RESEND_API_KEY=$RESEND_API_KEY" >> .env.local
          echo "CLERK_SECRET_KEY=$CLERK_SECRET_KEY" >> .env.local
          echo "NEXT_PUBLIC_CLERK_SIGN_IN_URL=$NEXT_PUBLIC_CLERK_SIGN_IN_URL" >> .env.local
          echo "CLERK_WEBHOOK_SECRET=$CLERK_WEBHOOK_SECRET" >> .env.local
          echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL" >> .env.local
          echo "NEXT_PUBLIC_CLOUDINARY_NAME=$NEXT_PUBLIC_CLOUDINARY_NAME" >> .env.local
          echo "NEXT_PUBLIC_CLOUDINARY_PRESET=$NEXT_PUBLIC_CLOUDINARY_PRESET" >> .env.local
          echo "SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN" >> .env.local
          cat .env.local
        env:
          CLOUDINARY_NAME: ${{ secrets.CLOUDINARY_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          NEXT_TELEMETRY_DISABLED: ${{ secrets.NEXT_TELEMETRY_DISABLED }}
          NEXT_PUBLIC_RECAPTCHA_SITE_KEY: ${{ secrets.NEXT_PUBLIC_RECAPTCHA_SITE_KEY }}
          RECAPTCHA_SITE_KEY: ${{ secrets.RECAPTCHA_SITE_KEY }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
          NEXT_PUBLIC_CLERK_SIGN_IN_URL: ${{ secrets.NEXT_PUBLIC_CLERK_SIGN_IN_URL }}
          CLERK_WEBHOOK_SECRET: ${{ secrets.CLERK_WEBHOOK_SECRET }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_CLOUDINARY_NAME: ${{ secrets.NEXT_PUBLIC_CLOUDINARY_NAME }}
          NEXT_PUBLIC_CLOUDINARY_PRESET: ${{ secrets.NEXT_PUBLIC_CLOUDINARY_PRESET }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Create .env.sentry-build-plugin file
        run: |
          touch .env.sentry-build-plugin
          echo "SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN" >> .env.sentry-build-plugin
          cat .env

        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v4
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint
      # - name: Run tests
      #   run: yarn test
      - name: Generate prisma client
        run: npm run generate
      - name: Build
        run: npm run build
      # - name: Start pm2
      #   run: pm2 start "npm run start" --name "portfolio-client"
      - name: Restart pm2
        run: pm2 restart portfolio-client
      # - name: Build the docker-compose stack
      #   run: docker compose up -d
    env:
      CI: true
